fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
scikit-learn
pandas
numpy
nltk
shap
xgboost
joblib
python-dotenv
matplotlib
alembic
slowapi
loguru
tenacity
